<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
  <a [routerLink]="['/prestations', 'list']" routerLinkActive="router-link-active" class="nav-link">Lister les prestations</a>
  <a [routerLink]="['/prestations', 'add']" routerLinkActive="router-link-active" class="nav-link">Ajouter une prestation</a>

  <a [routerLink]="['/clients', 'list']" routerLinkActive="router-link-active" class="nav-link">Lister les clients</a>
  <a [routerLink]="['/clients', 'add']" routerLinkActive="router-link-active" class="nav-link">Ajouter un client</a>
</div>
