<app-template-b title="Prestations" label="Liste des prestations">

  <ng-container *ngIf="(collection$ | async) as mycollection; else noElementTemplate ">
    <app-table [cols]="headers">
      <tr *ngFor="let prestation of mycollection; let i = index">
        <th scope="row">{{ prestation.id | slice:0:5 }}</th>
        <td>
          <select [(ngModel)]="prestation.type" (change)="changeType(prestation, $event)" [appTypeColor]="prestation.type" class="form-control">
            <option *ngFor="let type of typePrestation" [value]="type" [appTypeColor]="type">{{ type }}</option>
          </select>
        </td>
        <td>{{ prestation.client }}</td>
        <td>{{ prestation.duree }}</td>
        <td>{{ prestation.tjmHt | currency: 'EUR' }}</td>
        <td>{{ prestation | total: 'ht' | currency: 'EUR' }}</td>
        <td>{{ prestation | total: 'ttc' | currency: 'EUR' }}</td>
        <td>{{ prestation.tva }} %</td>
        <td >
          <select [(ngModel)]="prestation.status" (change)="changeStatus(prestation, $event)">
            <option *ngFor="let statut of statutPrestation" [value]="statut">{{ statut }}</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-success" (click)="edit(prestation)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="delete(prestation)">Delete</button>
        </td>
      </tr>
    </app-table>
  </ng-container>

  <ng-template #noElementTemplate>
    <h3>Pas d'élément</h3>
  </ng-template>

</app-template-b>
