<div class="container">

  <form (ngSubmit)="register()" [formGroup]="myForm">

      <div class="form-group">
          <label for="type">Type de prestation</label>
          <select formControlName="type" class="form-control">
            <option *ngFor="let type of typePrestation | keyvalue" [value]="type.value">{{type.value}}</option>
          </select>
      </div>

      <div class="form-group">
          <label for="client">Client</label>
          <input type="text" formControlName="client" [ngClass]="{'is-invalid' : myForm.get('client').invalid && myForm.get('client').touched}" class="form-control" placeholder="Veuillez saisir un nom de client"/>
          <span *ngIf="myForm.get('client').invalid && myForm.get('client').touched">
            Merci de saisir un nom de client
          </span>
          <span>{{ myForm.get('client').errors | json }}</span>
      </div>

      <div class="form-group">
          <label for="duree">Durée</label>
          <input type="text" formControlName="duree" class="form-control" />
      </div>

      <div class="form-group">
          <label for="tjmHt">TJM HT</label>
          <input type="text" formControlName="tjmHt" class="form-control" />
      </div>

      <div class="form-group">
          <label for="tva">TVA</label>
          <input type="text" formControlName="tva" class="form-control" />
      </div>

      <div class="form-group">
          <label for="status">Statut de la prestation</label>
          <select formControlName="status" class="form-control">
            <option *ngFor="let statut of statutPrestation | keyvalue" [value]="statut.value">{{statut.value}}</option>
          </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
  </form>
</div>
